<nav class="navbar-default navbar-static-side" role="navigation"ng-controller="HeaderCtrl as HeaderCtrl">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">

            <li ng-class={'active':enter}>
                <a  ng-click="HeaderCtrl.action(0)"><i class="fa fa-th-large"></i> <span class="nav-label">Users</span> </a>
            </li>
            <li>
                <a  ng-click="HeaderCtrl.action(9)"><i class="fa fa-th-large"></i> <span class="nav-label">Loyalty Offers</span> </a>
            </li>
            <li ng-class={'active':enter}>
                <a  ng-click="HeaderCtrl.action(1)"><i class="fa fa-th-large"></i> <span class="nav-label">Menu Categories</span> </a>
            </li>
            <li>
                <a ng-click="HeaderCtrl.action(2)"><i class="fa fa-th-large"></i> <span class="nav-label">Menu Items</span> </a>
            </li>
            <li>
                <a  ng-click="HeaderCtrl.action(3)"><i class="fa fa-th-large"></i> <span class="nav-label">Tour Categories</span> </a>
            </li>
            <li>
                <a  ng-click="HeaderCtrl.action(4)"><i class="fa fa-th-large"></i> <span class="nav-label">Tour Items</span> </a>
            </li>
            <li>
                <a  ng-click="HeaderCtrl.action(8)"><i class="fa fa-th-large"></i> <span class="nav-label">Manage Photos</span> </a>
            </li>
            <li>
                <a  ng-click="HeaderCtrl.action(6)"><i class="fa fa-th-large"></i> <span class="nav-label">Fan comments </span> </a>
            </li>
            <li>
                <a  ng-click="HeaderCtrl.action(7)"><i class="fa fa-th-large"></i> <span class="nav-label">Push notifications</span> </a>
            </li>
            <li>
                <a  ng-click="HeaderCtrl.action(5)"><i class="fa fa-th-large"></i> <span class="nav-label">App Settings </span> </a>
            </li>
            <li>
                <a  ng-click="HeaderCtrl.action(10)"><i class="fa fa-th-large"></i> <span class="nav-label">Passcodes</span> </a>
            </li>
            <li class="text-center margin-top-30 padding-10">
                <button type="button" class="btn btn-danger btn-block m-b btn-w-m margin-bottom-0" ng-click="HeaderCtrl.logout()">Logout
                </button>
            </li>
        </ul>
    </div>
</nav>

