<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="headerCtrl">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li ng-class={'active':enter}>
                <a ng-href='/orders' ng-click="enter=!enter"><i class="fa fa-th-large"></i> <span class="nav-label">All Orders</span> </a>
            </li>
            <li>
                <a ng-href='/serviceproviders' ng-click="enter=!enter"><i class="fa fa-th-large"></i> <span class="nav-label">Service Providers</span> </a>
            </li>
            <li>
                <a ng-href='/registerserviceprovider' ng-click="enter=!enter"><i class="fa fa-th-large"></i> <span class="nav-label">Add Service Provider</span> </a>
            </li>
        </ul>
    </div>
</nav>