<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en" ng-app="myApp"> <!--<![endif]-->
<head>
    <base href="/">
    <title>Chuey Fu's - Latin Asian grub</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/css/standard.css">


    <script src="lib/angular/angular.js"></script>
    <script src="lib/ngSanitize/index.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="lib/angular-resource/angular-resource.min.js"></script>
    <script src="lib/angular-filter/dist/angular-filter.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/service.js"></script>
    <script src="js/filters.js"></script>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="lib/underscore/underscore-min.js"></script>

    <script src="lib/moment/moment.js"></script>
    <script src="lib/humanize-duration/humanize-duration.js"></script>
    <script src="lib/angular-timer/dist/angular-timer.js"></script>
    <script src="lib/ng-file-upload/ng-file-upload.min.js"></script>
    <!--Template Plugins-->

    <script src="js/inspinia.js"></script>
    <script src="js/jquery-ui.custom.min.js"></script>
    <script src="js/jquery-ui-1.10.4.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>
    <script src="js/plugins/iCheck/icheck.min.js"></script>
    <script src="js/htmlCompileDirective.js"></script>

    <link rel="stylesheet" href="/lib/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css">
    <script src="lib/bootstrap3-dialog/dist/js/bootstrap-dialog.min.js"></script>

    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>
<body ng-app="myApp">
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61716806-5', 'auto');
    ga('send', 'pageview');

</script>
<div ng-view></div>
<script type="text/javascript">
</script>
</body>
</html>
